.page {
    height: 100%;
}

.page-main {
    background-image: linear-gradient(240deg, black, gray);
}

.todo-app {
    margin    : 2rem auto 0 auto;
    max-width : 400px;
}

.top-panel {
    margin : 1rem 0;
}
