.app-header {
    align-items: flex-end;
    color: grey;
}

.app-header h1 {
    flex-grow: 1;
    font-weight: bold;
}

.app-header h2 {
    font-size: 1.2rem;
}

.app-header span {
    color: white;
}
